.cart {
  --rounded-size: 24px;
  --rounded-btn-size: 999px;

  &__content {
    padding: 30px 20px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__total {
    margin-block: 24px;

    &--details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__advertising {
    background-color: var(--clr-rose-50);
    margin-bottom: 24px;
  }
}
