<section class="cart">
  <h2 class="sr-only">Shopping Cart</h2>

  <p id="cart-summary" class="sr-only">
    You have {{ total().totalItems }} items in your cart. Press confirm to place the order.
  </p>

  <div class="cart__content rounded-[var(--rounded-size)] bg-white">
    <h3 class="cart__title text-preset-2 red" tabindex="0">
      Your Cart <span aria-live="polite">({{ total().totalItems }})</span>
    </h3>

    @if (total().totalItems ) {

    <app-cart-list
      [cartItems]="cartItems()"
      [showRemoveItem]="true"
      (removeItem)="onRemoveItem($event)"
    />

    <div class="cart__total">
      <p class="cart__total--details">
        <span class="cart__total--title text-preset-4 rose-900">Order Total</span>
        <span class="cart__total--amount text-preset-2 rose-900"
          >${{total().totalPrice | number: '1.2-2'}}</span
        >
      </p>
    </div>

    <div class="cart__advertising">
      <p class="text-preset-4 flex h-[52px] items-center justify-center gap-1">
        <img aria-hidden="true" alt="" src="assets/images/icon-carbon-neutral.svg" />
        This is a
        <span class="font-bold"> carbon-neutral</span>
        delivery
      </p>
    </div>
    }

    <button
      type="button"
      [disabled]="total().totalItems === 0"
      class="button--confirm cart__confirm flex h-[53px] items-center justify-center rounded-[var(--rounded-btn-size)]"
      [attr.aria-describedby]="'cart-summary'"
      [attr.aria-label]="'Confirm Order: ' + total().totalItems + ' items'"
      (click)="onConfirmOrder()"
    >
      <span class="text-preset-3 text-white">Confirm Order</span>
    </button>
  </div>
</section>
