.container {
  width: 100%;
}

.text-preset-1 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-40);
  line-height: 1.2;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: 1.25;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: var(--ff);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-16);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  font-size: var(--fs-14);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4-bold {
  font-family: var(--ff);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-14);
  line-height: 1.5;
  letter-spacing: 0;
}

.red-hat-text {
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  font-size: var(--fs-16);
  line-height: 1;
  letter-spacing: 0;
  color: var(--clr-rose-900);
}

.rose-900 {
  color: var(--clr-rose-900);
}

.rose-500 {
  color: var(--clr-rose-900);
}

.red {
  color: var(--clr-red);
}

.bg-red {
  background-color: var(--clr-red);
}

.border--rose {
  border: 1px solid var(--clr-rose-400);
}

.border--red {
  border: 1px solid var(--clr-red);
}

.border-w-3 {
  border-width: 3px;
}

.border--white {
  border: 1px solid var(--clr-white);
}

.button--confirm {
  background: var(--clr-red);
  width: 100%;

  &:hover,
  &:active {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      linear-gradient(rgb(199, 59, 15), rgb(199, 59, 15));
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),
      linear-gradient(rgb(199, 59, 15), rgb(199, 59, 15));
  }
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-green-light) transparent;
  scroll-behavior: smooth;
  padding: 0.7rem;

  -webkit-overflow-scrolling: touch;
  outline: none;
}

.scrollable:focus {
  outline: 2px solid var(--clr-grey-light);
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--clr-green-light);
  border-radius: 4px;
}
