<div class="button-cart -translate-y-1/2" [ngClass]="hostClasses">
  @if (cartItem() === null) {
  <button
    class="button-cart--add border--rose flex h-(--bh-cart) w-(--bw-cart) items-center justify-center gap-1 rounded-[var(--rounded-size)] bg-white"
    (click)="onAddToCart()"
    type="button"
    [attr.aria-label]="'Add ' + product.name + ' to cart'"
    [title]="'Add ' + product.name + ' to cart'"
  >
    <img
      class="h-[20px] w-[20px]"
      src="assets/images/icon-add-to-cart.svg"
      alt=""
      aria-hidden="true"
    />
    <span class="text-preset-4-bold rose-900"> Add to Cart </span>
  </button>
  } @else {
  <div
    class="button-cart--quantity bg-red flex h-(--bh-cart) w-(--bw-cart) items-center justify-between gap-2 rounded-[var(--rounded-size)] px-(--p-inline) text-white"
  >
    <button
      type="button"
      class="border--white flex h-[17px] w-[17px] items-center justify-center rounded-[var(--rounded-size)]"
      [attr.aria-label]="'Decrement one item from ' + product.name + ' of cart'"
      [title]="'Decrement one item from ' + product.name + ' of cart'"
      (click)="onDecrementQuantity()"
    >
      <span class="sr-only">Decrement</span>
      <svg aria-hidden="true" focusable="false" class="h-[12px] w-[12px]">
        <use href="assets/images/icon-sprite-quantity.svg#icon-decrement"></use>
      </svg>
    </button>
    <span class="text-preset-4-bold">{{cartItem()?.quantity}}</span>
    <button
      class="border--white flex h-[17px] w-[17px] items-center justify-center rounded-[var(--rounded-size)]"
      type="button"
      [attr.aria-label]="'Increment one more item of ' + product.name + ' to cart'"
      [title]="'Increment one more item of ' + product.name + ' to cart'"
      (click)="onIncrementQuantity()"
    >
      <span class="sr-only">Increment</span>
      <svg aria-hidden="true" focusable="false" class="h-[12px] w-[12px]">
        <use href="assets/images/icon-sprite-quantity.svg#icon-increment"></use>
      </svg>
    </button>
  </div>

  }
</div>
