.cart-list {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .show-thumbnail &__item {
    gap: 16px;
    row-gap: 0;
    grid-template-columns: 48px 1fr auto;
    grid-template-areas:
      'product-thumbnail product-name product-subtotal'
      'product-thumbnail product-details product-subtotal';
  }

  &__item {
    display: grid;
    gap: 5px;
    row-gap: 0;
    grid-template-columns: auto 30px;
    grid-template-areas:
      'product-name product-remove'
      'product-details product-remove';

    padding-bottom: 16px;
    border-bottom: 1px solid var(--clr-rose-100);

    &--subtotal {
      grid-area: product-subtotal;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &--thumbnail {
      grid-area: product-thumbnail;
    }

    &--product {
      grid-area: product-name;
    }

    &--details {
      grid-area: product-details;
      display: flex;
      gap: 4px;
      justify-content: flex-start;
      align-items: center;

      & > span:nth-child(1) {
        flex: 0 0 30px;
      }

      & > span:nth-child(2) {
        flex: 0 0 60px;
      }
    }

    &--remove {
      grid-area: product-remove;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 20px;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--clr-rose-400);
        color: var(--clr-rose-400);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:active {
          border-color: var(--clr-rose-900);
          color: var(--clr-rose-900);
        }

        &:focus-visible {
          outline: 2px solid var(--focus-color);
          outline-offset: 2px;
        }

        svg {
          width: 10px;
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
