.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-cart {
  --rounded-size: 24px;
  --rounded-btn-size: 999px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  max-height: 95dvh;
  overflow: auto;
  z-index: 1000;
  border-radius: 8px;
  width: 100%;
  min-width: 375px;
  max-width: 688px;
  padding: 24px;

  &__items {
    max-height: 25dvh;
    overflow: auto;
  }

  &__title {
    max-width: 10ch;
  }

  &__body {
    margin-block: 32px;
    padding: 24px;
    background-color: var(--clr-rose-50);
    border-radius: 8px;
  }

  &__total--details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 28em) {
  .modal-cart {
    &__title {
      max-width: 100%;
    }
  }
}

@media screen and (min-height: 35em) {
  .modal-cart {
    &__items {
      max-height: 30dvh;
    }
  }
}

@media screen and (min-height: 45em) {
  .modal-cart {
    &__items {
      max-height: 50dvh;
    }
  }
}
