.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-cart {
  --rounded-size: 24px;
  --rounded-btn-size: 999px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  z-index: 1000;
  border-radius: 8px;
  min-width: 375px;

  padding: 24px;

  &__title {
    max-width: 10ch;
  }

  &__body {
    margin-block: 32px;
    padding: 24px;
    background-color: var(--clr-rose-50);
    border-radius: 8px;
  }

  &__total--details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
