<div
  class="card-product flex flex-col gap-0"
  role="group"
  aria-roledescription="product card"
  [attr.aria-labelledby]="idProductName"
  [attr.aria-describedby]="idProductCategory"
>
  <figure class="card-product__figure">
    <picture>
      <source [srcset]="product.image.desktop" media="(min-width: 1000px)" />
      <source [srcset]="product.image.tablet" media="(min-width: 600px)" />
      <img
        class="aspect-[var(--aspect-ratio)] rounded-[8px]"
        [src]="product.image.mobile"
        [alt]="product.name"
      />
    </picture>
  </figure>

  <app-button-cart class="card-product__button m-auto" [id]="product.id" [name]="product.name" />

  <div class="card_product__details">
    <h3 [id]="idProductName" class="card-product__name text-preset-4 rose-500">
      {{ product.name }}
    </h3>

    <p [id]="idProductCategory" class="card-product__category text-preset-3 rose-900">
      {{product.category}}
    </p>
    <p class="card-product__price text-preset-3 red">${{product.price | number: "1.1-1" }}</p>
  </div>
</div>
