.product-list {
  padding: 22px;
  width: 100%;
  max-width: 1216px;

  &__products {
    width: 100%;
    max-width: 800px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(0, 327px));
    place-content: center;

    margin-top: 22px;
    margin-inline: auto;
    margin-bottom: 32px;
  }

  &__cart {
    width: 100%;
    max-width: 688px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 23.5em) {
  .product-list {
    &__products {
      grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
    }
  }
}

@media screen and (min-width: 37em) {
  .product-list {
    padding-block: 60px;
    max-width: 800px;
    margin: auto;
  }
}

@media screen and (min-width: 53em) {
  .product-list {
    &__products {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: 77em) {
  .product-list {
    padding-inline: 0;
    display: grid;
    grid-template-columns: 1fr 384px;
    grid-template-areas:
      'prod_title prod_cart'
      'prod_products prod_cart';
    grid-column-gap: 32px;
    max-width: auto;
    margin: initial;

    &__products {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &__title {
      grid-area: prod_title;
    }

    &__products {
      grid-area: prod_products;
      gap: 24px;
      margin-inline: initial;
    }

    &__cart {
      grid-area: prod_cart;
    }
  }
}
